@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css";
@import "http://fonts.googleapis.com/css?family=Noto+Serif:400,700)";

html { box-sizing: border-box; height: 100% }
*, *::before, *::after { box-sizing: inherit }

body {
    font: normal 100%/1.4 'Noto Serif', Georgia, serif;
    background: #f7f7f7;
    color: #1f1f1f;
    min-height: 100%;
}

.site-head {
    background: url(i/jsu.svg) no-repeat 64px 64px;
    background-size: 64px;
    width: 128px;
    height: 128px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.site-head * { margin: 0 }
.site-head a { display: block; height: 100% }
.site-head h1 {
    position: relative;
    left: -999px;
}

::selection {
    background: rgba(82, 179, 217, 0.5);
}

button {
    outline: 0;
    border: 0;
    background: none;
    border-radius: 2px;
}