@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

main {
    padding: 10%;
}
.wrought a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 3.5em 0;
}
.wrought h2 { margin: 0 }
.wrought {
    color: #1f1f1f;
    text-align: center;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-family: 'Cutive Mono', Consolas, monospace;
    -webkit-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    letter-spacing: .02em;
}
.wrought:hover {
    background: #1f262e;
    color: ghostwhite;
}
.wrought:hover a {
    -webkit-animation: float 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
    animation: float 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
}

main hr {
    border-bottom-color: black;
    width: 25%;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.5);
    opacity: 0;
    z-index: -1;
    background: #f2f2e8;
    margin-top: 128px;
}

.view.is {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
    transition: transform .2s;
}





















@-webkit-keyframes float {
    to {
      -webkit-transform: translateY(10px);   
    }
}
@keyframes float {
    to {
      transform: translateY(10px);   
    }
}


@media screen and (max-width: 60em) {
    .site-head { width: 100% }
    
    .site-head {
        background-position: 50% 50%;
    }
    main { padding: 120px 5% }
    .wrought {
        width: 100%;   
    }
}