body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body, output, .note-page {
    height: 100%;
}

.notepad, output { 
    padding: 6% 3.5em;
    display: flex;
    flex-flow: column nowrap;
}

.notepad {
    width: 40%;
    min-height: 100%;
}

    .notepad-contents { margin: 0; padding: 0 }

output {
    width: 60%;
    background: #f8f8f3;
    font-size: 1.3em;
}

    .note-page, .note-title {
        border: 0;
        background: none;
        outline: none;
        margin: 1em 0;
    }

.hidden * { display: none }