@import "../b.css";

body {
    padding: 2em;
}

header {
    padding: 2.5%;
}

ul {
    list-style: none;
}

.task-reqs > li {
    padding: 1em 0;
}

.can-get::after { content: ' (can get during tasks)' }

.skill-reqs li::before {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.attack::before { content: url(http://i.the9th.uk/rs/B) }
.defence::before { content: url(http://i.the9th.uk/rs/C) }
.strength::before { content: url(http://i.the9th.uk/rs/D) }
.constitution::before { content: url(http://i.the9th.uk/rs/E) }
.ranged::before { content: url(http://i.the9th.uk/rs/F) }
.prayer::before { content: url(http://i.the9th.uk/rs/G) }
.magic::before { content: url(http://i.the9th.uk/rs/H) }
.cooking::before { content: url(http://i.the9th.uk/rs/I) }
.woodcutting::before { content: url(http://i.the9th.uk/rs/J) }
.fletching::before { content: url(http://i.the9th.uk/rs/K) }
.fishing::before { content: url(http://i.the9th.uk/rs/L) }
.firemaking::before { content: url(http://i.the9th.uk/rs/M) }
.crafting::before { content: url(http://i.the9th.uk/rs/N) }
.smithing::before { content: url(http://i.the9th.uk/rs/O) }
.mining::before { content: url(http://i.the9th.uk/rs/P) }
.herblore::before { content: url(http://i.the9th.uk/rs/Q) }
.agility::before { content: url(http://i.the9th.uk/rs/R) }
.thieving::before { content: url(http://i.the9th.uk/rs/S) }
.slayer::before { content: url(http://i.the9th.uk/rs/T) }
.farming::before { content: url(http://i.the9th.uk/rs/U) }
.runecrafting::before { content: url(http://i.the9th.uk/rs/V) }
.hunter::before { content: url(http://i.the9th.uk/rs/W) }
.construction::before { content: url(http://i.the9th.uk/rs/X) }
.summoning::before { content: url(http://i.the9th.uk/rs/Y) }
.dungeoneering::before { content: url(http://i.the9th.uk/rs/Z) }
.divination::before { content: url(http://i.the9th.uk/rs/AA) }
