* { margin: 0; padding: 0; border: 0; -webkit-font-smoothing: antialiased }

body {
line-height: 1.25;
text-align: center;
padding: 3em 0;
height: auto;
}

.lists-head {
font-size: 2.5em;
padding-bottom: 1em;
}

    h1 { margin-top: 0; margin-bottom: 1em; }

ul { list-style: none }

a { color: #222; text-decoration: none; }
a:hover { font-weight: bold }

.s:not(:first-of-type) { padding-top: 1.5em; }
.e:not(:last-of-type) { padding-bottom: 1.5em }

.x::before {
content: '!';
padding-right: .5em;
padding-left: .5em;
display: inline-block;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.list h2 {
font-size: 2.4em;
padding: 1em;
font-weight: 300;
}

li:target a::before {
content: '\25a0';
font-size: 1.5em;
position: relative;
right: 1em;
-webkit-transform: none;
transform: none;
padding: 0;
}

@media screen and (max-width: 600px) {
body {
padding: 1.6em;
}
}