@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";

html
    box-sizing: border-box

*
*::before
*::after
    box-sizing: inherit

body
    font: 100%/1.4 'Comic Neue', sans-serif
    background: #fbfbfb
    color: #1f1f1f
    
    width: 100%
    padding: 1em 2.5%
    padding-bottom: 0
    
    position: absolute
    width: 100%
    height: 100%

.h
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.h-img
    max-width: 30px
    display: inline-block
    vertical-align: middle

.h-title
    font-size: 1.2em
    color: #bfcfcf