@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";

html { box-sizing: border-box }
*, *::before, *::after { box-sizing: inherit }

body {
    font: 100%/1.4 sans-serif;
    background: #fbfbfb;
    color: #1f1f1f;
}

img {
    max-width: 25%;
    display: inline-block;
}