main {
  flex-direction column

  padding 1em
  min-height 100vh
}

.Head {
  justify-content space-between
  
  position relative
  z-index 2
  
  & > * {
    // background-color #d9e2e8
  }
}

.Content {
  flex 1
  text-align center
  justify-content center

  .item {
    flex 1 0 33.3333%
    padding 1em
    margin 1em
    min-height 10em
    position relative

    background-color #f0f0f0
    box-shadow: 5px 0 1px -4px rgba(0, 0, 0, 0.13),
                -5px 0 1px -4px rgba(0, 0, 0, 0.13)
    border-style solid
    border-width 2px 0 2px 0
    border-color #3f6884 transparent #eaeaea transparent


    &-title {
      position absolute
      top 50%
      transform translateY(-50%)
      left 0
      right 0

      margin 0
      font-size 2em
    }
  }
}
