main {
  display flex
  flex-flow column wrap
  
  padding 1em
  min-height 100vh
}

.head {
  justify-content space-between
  padding 0
  
  margin-bottom -2.3em
  
  position relative
  z-index 2
  
  .mdl-card {
    background-color #d9e2e8
    width auto
  }
}

.content {
  flex 1
  
  .mdl-card {
    background-color #fafbfb
  }
}
