.mdl-card
.mdl-card__media {
  background-color #fafbfb
}

.mdl-grid, .mdl-cell {
  padding 1em
}

.mdl-card {
  min-height 0
}

.mdl-card * {
  margin auto 0
}

.head-image {
  max-width 40px
}

.head-route {
  text-align right
  font-size 1.5em
}
